body {
    padding-top: 0;
    font-family: "Lexend Deca", sans-serif;
    max-width: 100%;
    height: 100vh;
    background-image: url(https://unsplash.com/photos/SHA85I0G8K4/download?force=true);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.search-card-container {
    padding: 100px 70px;
}

.search-card {
    display: flex;
    max-width: 400px;
    padding: 30px;
    flex-direction: column;
    border-radius: 5px;
    background: white;
    box-shadow: 2px 2px 10px black;
    justify-content: space-between;
}

.search-card-title {
    margin: 0;
    font-family: "Lexend Deca", sans-serif;
    font-size: 28px;
    font-weight: 700;
}

.form-group {
    max-width: 100%;
    margin-top: 10px;
    flex-basis: 50%;
}

.form-group>select,
.form-group>input {
    width: 100%;
    padding: 10px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 14px;
    border: 1px solid #eee;
    border-radius: 3px;
}

.inline-form-group {
    display: flex;
    justify-content: space-between;
}

.form-group>.search-label {
    margin-bottom: 5px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.search-btn {
    padding: 10px 20px;
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 3px;
    background: #ff5a5f;
}

.d-flex-end {
    display: flex;
    justify-content: flex-end;
}

.search-card-body {
    margin: 15px 0px;
}

.place-card-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 50px;
}

.place-card {
    width: 350px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.place-card>.header-img>img {
    width: 310px;
    height: 197px;
    border-radius: 5px;
}

.meta-info {
    font-size: 15px;
    margin: 10px 0px;
}

.place-title {
    font-size: 20px;
    margin: 0;
}

.meta-price {
    font-size: 14px;
    margin: 10px 0px;
}

.meta-rating {
    font-size: 12px;
    margin: 10px 0px;
    display: flex;
}

.meta-rating>.tiny {
    font-size: 12px;
}